<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Information-Depression</title>
</head>
<body>
    There are several types of depression. The most common include:

Major Depression—severe symptoms that interfere with your ability to work, sleep, concentrate, eat, and enjoy life. Some people may experience only a single episode within their lifetime, but more often, a person may experience multiple episodes.
Persistent Depressive Disorder (Dysthymia)—depression symptoms that are less severe than those of major depression, but last a long time (at least two years).
Minor Depression—depression symptoms that are less severe than those of major depression and dysthymia, and symptoms do not last long.
</body>
</html>